.info-panel-wrapper {
  height: 6.625rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1024px;
  margin: 0 auto;
}
section.last-winners-slider {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 50%;
  position: relative;
}
.last-winners-title {
  margin: 1rem 0 .5rem 2rem;
  color: #bbbbbb;
  text-transform: uppercase;
}
swiper {
  position: relative;
  max-width: 30rem;
  margin: 0 2rem;
}
.swiper-btn {
  font-size: 1.8rem;
  width: 20px;
  color: #bbbbbb;
  transition: color .2s;
}
.swiper-btn.swiper-btn-next {
  position: absolute;
  top: 2.625rem;
  right: .8rem;
}
.swiper-btn.swiper-btn-next:hover {
  color: #eeeeee;
}
.swiper-btn.swiper-btn-prev {
  position: absolute;
  top: 2.625rem;
  left: 0;
}
.swiper-btn.swiper-btn-prev:hover {
  color: #eeeeee;
}
.swiper-slide {
  width: 131px;
  height: 42px;
  display: flex;
  flex-flow: row nowrap;
}
.swiper-slide>.front-left-side {
  width: 72px;
  overflow: hidden;
  position: relative;
}
.swiper-slide>.front-left-side img {
  max-width: 100%;
}
.swiper-slide>.front-right-side {
  margin-left: .4rem;
  width: 78px;
  display: flex;
  flex-flow: column nowrap;
}
.swiper-slide>.front-right-side div {
  font-size: 0.7rem;
  line-height: .85rem;
}
.swiper-slide>.front-right-side div.game-name {
  color: white;
  text-transform: uppercase;
}
.swiper-slide>.front-right-side div.win-amount {
  color: gold;
}
.swiper-slide>.front-right-side div.player-name {
  color: white;
}
section.jackpot-info {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 50%;
}
.jackpot-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.jackpot-info-title {
  margin: 1rem 0 .5rem 0;
  color: #bbbbbb;
  text-transform: uppercase;
}
