<header>
  <div class="header-container">
  <app-menu></app-menu>
  <section class="top-menu-other-half">
    <app-quick-registration></app-quick-registration>
    <app-social></app-social>
    <app-language></app-language>
  </section>
  </div>
</header>
<section class="registration">
  <div class="header-container">
  <div class="logo-wrapper">
    <div class="logo"><img [src]="'assets/images/logo.png'" alt=""></div>
  </div>
  <div class="reg-form-wrapper">
    <game-button (click)="openModal()" [title]="'registration'" [bgColor]="'blue'"></game-button>
    <div class="input-wrapper">
      <input type="text" placeholder="Username">
    </div>
    <div class="input-wrapper">
      <input type="text"  placeholder="Password">
      <small><a href="">Forgot your password?</a></small>
    </div>
    <game-button [title]="'login'" [bgColor]="'red'"></game-button>
  </div>
  </div>
</section>
<main-slider></main-slider>
<info-panel></info-panel>
<section class="app-container">
  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <bottom-menu></bottom-menu>
    <payments></payments>
    <div class="copyright">@ 2015 all rights reserved</div>
  </footer>
</section>


<!--Modal-->
<registration-modal (close)="closeModal()" *ngIf="modalStatus!=='void'" [animState]="modalStatus"></registration-modal>
