<section class="modal-registration">
  <h2>registration</h2>
  <label>* Indicates required fields</label>
  <form action="">
    <label for=""><input type="text"></label>
    <small><div>!</div> This field cannot be blank</small>
    <label for=""><input type="text"></label>
    <small><div>!</div> This field cannot be blank</small>
    <label for=""><input type="text"></label>
    <small><div>!</div> This field cannot be blank</small><i class="fas fa-plus-square"></i>
    <label for=""><input type="text"></label>
    <small><div>!</div> This field cannot be blank</small>
    <label for=""><input type="text"></label>
    <small><div>!</div> This field cannot be blank</small>
    <game-button [title]="'submit'" [bgColor]="'blue'"></game-button>
  </form>
  <div><i class="fas fa-times"></i></div>
</section>

