<swiper class="swiper" [config]="config">
  <div class="swiper-wrapper test">
    <div
      class="swiper-slide"
      *ngFor="let image of images"
      data-swiper-autoplay="3500"
      [ngStyle]="{'background': 'url(/'+image+') no-repeat center/cover'}">
      <div class="front-image-wrapper">
        <img class="swipper-front-image" [src]="'/assets/images/slider_big_front.png'">
      </div>

    </div>
  </div>
  <!--<div class="swiper-pagination"></div>-->
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->
</swiper>
